[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ariadne = "*"
flask = "*"
environs = "*"
flask-pymongo = "*"
python-jose-cryptodome = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
