-i https://pypi.org/simple
ariadne==0.7.0
click==7.0
dnspython==1.16.0
ecdsa==0.13.3
environs==6.0.0
flask-cors==3.0.8
flask==1.1.1
future==0.18.0
graphql-core-next==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
marshmallow==3.2.1
pyasn1==0.4.7
pycryptodome==3.9.0
pymongo[srv]==3.9.0
python-dotenv==0.10.3
python-jose[pycryptodome]==3.0.1
python-multipart==0.0.5
rsa==4.0
typing-extensions==3.7.4
werkzeug==0.16.0
